body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/*Header*/
header{
    background-color:black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

header h1{
    color: white;
    font-size: 40px;
    
}

header img{
    border-radius: 15px;
    width: 250px;
}
/*Header*/

/*Main*/
main{
    max-width: 100%;
    margin: 0 auto;
    background-color: #b9b9b9;
    text-align: center;
    padding: 40px 10px;
}


.center {
    width: 50%;
  }

h2{
    font-size: 35px;
    color:dimgrey ;
    padding-top: 60px;
}
/*Main*/

/*MainList*/
mainlist{
    padding: 0px 0px 0px 0px;
    text-align: left;
}

/*Links*/
a{
    color:green;
}
a:hover{
    color: white;
    background-color: black;
}
/*Links*/

/*Footer*/
footer{
    background-color:rgb(144, 197, 91);
    color: white;
    text-align: center;
}

footer p{
    margin: 0;
}

footer a{
    color: white;
}
footer a:hover{
    opacity: .5;
    background-color: transparent;
}
/*Footer*/

/*Classes*/
p.caption{
    color: #5c5c5c;
    text-align: left;
    margin-top: 0;
    padding-left: 470px;
}
/*Classes*/